<mat-toolbar>
    <span>Faceless Book Profile</span>
 </mat-toolbar>
 
 <mat-card class="flex-row">
 
    <!-- Profile picture -->
    <img id="profile-pic" src="https://icon-library.net/images/generic-user-icon/generic-user-icon-19.jpg">
 
    <!-- Profile details -->
    <div id="profile-details">
        <div class="flex-row">
            <h1>@{{user.username}}</h1>
 
            <!-- Edit button -->
            <button id="edit-button" (click)="routeToEdit()" mat-flat-button color="primary">Edit Profile</button>
        </div>
 
        <!-- "About" separator -->
        <div id="about-hr">
            <div id="about-block">
                <h3><strong>About</strong></h3>
            </div>
        </div>
 
        <div class="profile-detail">
            <div><strong>Name</strong></div>
            <div>{{user.firstName}} {{user.lastName}}</div>
        </div>
        <br>
        <div class="profile-detail">
            <div><strong>Email</strong></div>
            <div>{{user.email}}</div>
        </div>
 
    </div>
 </mat-card>