.flex-row {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

#profile-details {
   display: flex;
   flex-direction: column;
}

#edit-button {
   border-radius: 50px;

}

#profile-pic {
   height: 250px;
   width: auto;
   margin: 20px;
}

#about-hr {
   width: 100%;
   /* border-bottom: 3px solid rgba(255,255,255,0.2); */
   border-bottom: 3px solid rgba(0,0,0,0.2);
   padding: 10px;
   margin-bottom: 30px;

}

.profile-detail {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}